error on ./setup.sh

![indi-allsky](https://github.com/user-attachments/assets/293a8ccf-efd1-43f3-97cd-3542a1e3f39f)
![indi-allsky2](https://github.com/user-attachments/assets/2fc04718-19de-46da-9c4c-ee9a70f2c0e1)

Followed the instructions as per page 
then ./setup.sh
then did this as required ,BUILD_INDI_CORE=true BUILD_INDI_3RDPARTY=false ./misc/build_indi.sh
once that was done reverted to 
./setup.sh

(i installed on a rpi4b 2gb which installed ok after a couple of re-installs. even installed a bme280 sensor,working.
Had the indi-allsky software up and running)

This installation is on a rpi4b 4gb model with errors.
Could it be that rawpy is out of date ??

how can this be sorted please.




This is some sort of basic git issue.  I would try to fully upgrade the packages on the system to see if it helps.

```
sudo apt-get update

sudo apt-get dist-upgrade

reboot
```

Can you post the output of `./misc/support_info.sh` ?

Is there a way to save it to a file for posting ,please

You can just post the text without an attachment.

./misc/support_info.sh: line 62: warning: command substitution: ignored null byte in input
#################################
### indi-allsky support info  ###
#################################
```

Distribution: debian
Release: 12
Arch: aarch64
Bits: 64

CPUs: 4
Memory: 3882912 kB

System: Raspberry Pi 4 Model B Rev 1.5

Linux raspberrypi 6.6.62+rpt-rpi-v8 #1 SMP PREEMPT Debian 1:6.6.62-1+rpt1 (2024-11-25) aarch64 GNU/Linux
Hostname
raspberrypi


Time
Sat 30 Nov 18:28:32 GMT 2024

System timezone
Europe/London

Uptime
 18:28:32 up 51 min,  3 users,  load average: 0.00, 0.01, 0.00

Memory
               total        used        free      shared  buff/cache   available
Mem:         3882912      398820     2653256       23080      931392     3484092
Swap:         524284           0      524284

Filesystems
Filesystem     1K-blocks    Used Available Use% Mounted on
udev             1670400       0   1670400   0% /dev
tmpfs             388292    1324    386968   1% /run
/dev/mmcblk0p2 122322964 8933832 107155812   8% /
tmpfs            1941456     216   1941240   1% /dev/shm
tmpfs               5120      16      5104   1% /run/lock
/dev/mmcblk0p1    522230   68386    453844  14% /boot/firmware
tmpfs             388288      48    388240   1% /run/user/1000

sysctl info
vm.swappiness = 60

Thermal info
cpu-thermal
29206

system python: Python 3.11.2

indiserver: /usr/local/bin/indiserver


IP Info
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host noprefixroute 
       valid_lft forever preferred_lft forever
2: eth0: <NO-CARRIER,BROADCAST,MULTICAST,UP> mtu 1500 qdisc mq state DOWN group default qlen 1000
    link/ether 2c:cf:67:21:72:f2 brd ff:ff:ff:ff:ff:ff
3: wlan0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast state UP group default qlen 1000
    link/ether 2c:cf:67:21:72:f3 brd ff:ff:ff:ff:ff:ff
    inet 192.168.8.117/24 brd 192.168.8.255 scope global dynamic noprefixroute wlan0
       valid_lft 83330sec preferred_lft 83330sec
    inet6 fe80::9a6f:86e5:26d9:3995/64 scope link noprefixroute 
       valid_lft forever preferred_lft forever

User info
uid=1000(allsky) gid=1000(allsky) groups=1000(allsky),4(adm),20(dialout),24(cdrom),27(sudo),29(audio),44(video),46(plugdev),60(games),100(users),102(input),105(render),110(netdev),115(lpadmin),993(gpio),994(i2c),995(spi)

Process info

Check for virtual sessions

USB info
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 001 Device 002: ID 2109:3431 VIA Labs, Inc. Hub
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub

/:  Bus 02.Port 1: Dev 1, Class=root_hub, Driver=xhci_hcd/4p, 5000M
/:  Bus 01.Port 1: Dev 1, Class=root_hub, Driver=xhci_hcd/1p, 480M
    |__ Port 1: Dev 2, If 0, Class=Hub, Driver=hub/4p, 480M

USB Permissions
      122      0 drwxr-xr-x   4 root     root           80 Jan  1  1970 /dev/bus/usb
      123      0 drwxr-xr-x   2 root     root           80 Jan  1  1970 /dev/bus/usb/001
      124      0 crw-rw-r--   1 root     root     189,   0 Nov 30 17:36 /dev/bus/usb/001/001
      274      0 crw-rw-r--   1 root     root     189,   1 Nov 30 17:36 /dev/bus/usb/001/002
      125      0 drwxr-xr-x   2 root     root           60 Jan  1  1970 /dev/bus/usb/002
      126      0 crw-rw-r--   1 root     root     189, 128 Nov 30 17:36 /dev/bus/usb/002/001

video device Permissions
crw-rw----+ 1 root video 81, 14 Nov 30 17:36 /dev/video0
crw-rw----+ 1 root video 81, 15 Nov 30 17:36 /dev/video1
crw-rw----+ 1 root video 81,  1 Nov 30 17:36 /dev/video10
crw-rw----+ 1 root video 81,  2 Nov 30 17:36 /dev/video11
crw-rw----+ 1 root video 81,  3 Nov 30 17:36 /dev/video12
crw-rw----+ 1 root video 81,  6 Nov 30 17:36 /dev/video13
crw-rw----+ 1 root video 81,  7 Nov 30 17:36 /dev/video14
crw-rw----+ 1 root video 81,  8 Nov 30 17:36 /dev/video15
crw-rw----+ 1 root video 81,  9 Nov 30 17:36 /dev/video16
crw-rw----+ 1 root video 81,  4 Nov 30 17:36 /dev/video18
crw-rw----+ 1 root video 81,  0 Nov 30 17:36 /dev/video19
crw-rw----+ 1 root video 81, 10 Nov 30 17:36 /dev/video20
crw-rw----+ 1 root video 81, 11 Nov 30 17:36 /dev/video21
crw-rw----+ 1 root video 81, 12 Nov 30 17:36 /dev/video22
crw-rw----+ 1 root video 81, 13 Nov 30 17:36 /dev/video23
crw-rw----+ 1 root video 81,  5 Nov 30 17:36 /dev/video31

v4l info
bcm2835-codec-decode (platform:bcm2835-codec):
	/dev/video10
	/dev/video11
	/dev/video12
	/dev/video18
	/dev/video31
	/dev/media1

bcm2835-isp (platform:bcm2835-isp):
	/dev/video13
	/dev/video14
	/dev/video15
	/dev/video16
	/dev/video20
	/dev/video21
	/dev/video22
	/dev/video23
	/dev/media2
	/dev/media3

unicam (platform:fe801000.csi):
	/dev/video0
	/dev/video1
	/dev/media4

rpivid (platform:rpivid):
	/dev/video19
	/dev/media0


Module info
Module                  Size  Used by
tcp_diag               12288  0
inet_diag              24576  1 tcp_diag
rfcomm                 53248  4
snd_seq_dummy          12288  0
snd_hrtimer            12288  1
snd_seq                81920  7 snd_seq_dummy
snd_seq_device         16384  1 snd_seq
cmac                   12288  3
algif_hash             12288  1
aes_arm64              12288  3
aes_generic            32768  1 aes_arm64
algif_skcipher         12288  1
af_alg                 24576  6 algif_hash,algif_skcipher
bnep                   24576  2
brcmfmac_wcc           12288  0
imx477                 24576  3
hci_uart               49152  0
btbcm                  24576  1 hci_uart
binfmt_misc            16384  1
bluetooth             610304  33 hci_uart,btbcm,bnep,rfcomm
brcmfmac              360448  1 brcmfmac_wcc
brcmutil               24576  1 brcmfmac
ecdh_generic           16384  2 bluetooth
cfg80211              983040  1 brcmfmac
ecc                    36864  1 ecdh_generic
rfkill                 32768  6 bluetooth,cfg80211
bcm2835_v4l2           40960  0
bcm2835_unicam         49152  8
libaes                 12288  3 aes_arm64,bluetooth,aes_generic
bcm2835_isp            28672  10
bcm2835_codec          45056  0
rpivid_hevc            45056  0
v4l2_dv_timings        32768  1 bcm2835_unicam
v4l2_fwnode            20480  2 imx477,bcm2835_unicam
videobuf2_vmalloc      12288  1 bcm2835_v4l2
bcm2835_mmal_vchiq     36864  3 bcm2835_codec,bcm2835_v4l2,bcm2835_isp
v4l2_mem2mem           45056  2 bcm2835_codec,rpivid_hevc
vc_sm_cma              28672  2 bcm2835_mmal_vchiq,bcm2835_isp
snd_bcm2835            24576  1
videobuf2_dma_contig    16384  4 bcm2835_codec,bcm2835_unicam,rpivid_hevc,bcm2835_isp
v4l2_async             20480  3 v4l2_fwnode,imx477,bcm2835_unicam
videobuf2_memops       12288  2 videobuf2_vmalloc,videobuf2_dma_contig
videobuf2_v4l2         32768  6 bcm2835_codec,bcm2835_unicam,bcm2835_v4l2,rpivid_hevc,v4l2_mem2mem,bcm2835_isp
i2c_mux_pinctrl        12288  0
raspberrypi_hwmon      12288  0
videodev              303104  24 v4l2_async,bcm2835_codec,v4l2_fwnode,videobuf2_v4l2,imx477,bcm2835_unicam,bcm2835_v4l2,rpivid_hevc,v4l2_mem2mem,bcm2835_isp
i2c_mux                12288  1 i2c_mux_pinctrl
raspberrypi_gpiomem    12288  0
i2c_brcmstb            12288  0
videobuf2_common       69632  10 bcm2835_codec,videobuf2_vmalloc,videobuf2_dma_contig,videobuf2_v4l2,bcm2835_unicam,bcm2835_v4l2,rpivid_hevc,v4l2_mem2mem,videobuf2_memops,bcm2835_isp
mc                     61440  14 v4l2_async,videodev,bcm2835_codec,videobuf2_v4l2,imx477,bcm2835_unicam,videobuf2_common,rpivid_hevc,v4l2_mem2mem,bcm2835_isp
i2c_bcm2835            16384  1
nvmem_rmem             12288  0
i2c_dev                16384  0
ledtrig_pattern        12288  0
fuse                  139264  5
dm_mod                143360  0
ip_tables              32768  0
x_tables               49152  1 ip_tables
ipv6                  569344  44
v3d                    90112  3
drm_shmem_helper       24576  1 v3d
gpu_sched              49152  1 v3d
vc4                   380928  9
snd_soc_hdmi_codec     20480  2
snd_soc_core          286720  2 vc4,snd_soc_hdmi_codec
snd_compress           16384  1 snd_soc_core
snd_pcm_dmaengine      16384  1 snd_soc_core
snd_pcm               139264  5 snd_bcm2835,snd_soc_hdmi_codec,snd_compress,snd_soc_core,snd_pcm_dmaengine
snd_timer              36864  3 snd_seq,snd_hrtimer,snd_pcm
snd                   110592  12 snd_seq,snd_seq_device,snd_bcm2835,snd_soc_hdmi_codec,snd_timer,snd_compress,snd_soc_core,snd_pcm
drm_display_helper     16384  1 vc4
drm_dma_helper         24576  2 vc4
drm_kms_helper        212992  2 drm_dma_helper,vc4
cec                    53248  1 vc4
drm                   643072  15 gpu_sched,drm_kms_helper,drm_dma_helper,v3d,vc4,drm_shmem_helper,drm_display_helper
drm_panel_orientation_quirks    28672  1 drm
uio_pdrv_genirq        12288  0
uio                    20480  1 uio_pdrv_genirq
backlight              24576  2 drm_kms_helper,drm

git status
On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	output.txt

nothing added to commit but untracked files present (use "git add" to track)

git log
commit 65832e34957a0cd1287ed7830d159e03f773b04c
Merge: 8e4f9835 e8de67f6
Author: Aaron W Morris <aaron@aarmor.net>
Date:   Wed Nov 27 22:48:43 2024 -0600

    Merge pull request #1684 from aaronwmorris/dev
    
    fix km/h display setting

indi version: 2.1.0

indi packages

indi connections

Detected indi properties
looking for *.*.*
connect: Connection refused

libcamera: not detected

libcamera packages
ii  libcamera-ipa:arm64                  0.3.2+rpt20241119-1                 arm64        complex camera support library (IPA modules)
ii  libcamera-tools                      0.3.2+rpt20241119-1                 arm64        complex camera support library (tools)
ii  libcamera0.3:arm64                   0.3.2+rpt20241119-1                 arm64        complex camera support library
ii  libspa-0.2-libcamera:arm64           1.2.4-1~bpo12+1+rpt1                arm64        libraries for the PipeWire multimedia server - libcamera plugin
ii  pipewire-libcamera                   1.2.4-1~bpo12+1+rpt1                all          transitional package for libspa-0.2-libcamera
ii  python3-libcamera:arm64              0.3.2+rpt20241119-1                 arm64        complex camera support library (Python bindings)

libcamera cameras
rpicam-hello: /usr/bin/rpicam-hello
Available cameras
-----------------
0 : imx477 [4056x3040 12-bit RGGB] (/base/soc/i2c0mux/i2c@1/imx477@1a)
    Modes: 'SRGGB10_CSI2P' : 1332x990 [120.05 fps - (696, 528)/2664x1980 crop]
           'SRGGB12_CSI2P' : 2028x1080 [50.03 fps - (0, 440)/4056x2160 crop]
                             2028x1520 [40.01 fps - (0, 0)/4056x3040 crop]
                             4056x3040 [10.00 fps - (0, 0)/4056x3040 crop]


python packages
ii  libpython3-dev:arm64                 3.11.2-1+b1                         arm64        header files and a static library for Python (default)
ii  libpython3-stdlib:arm64              3.11.2-1+b1                         arm64        interactive high-level object-oriented language (default python3 version)
ii  libpython3.11:arm64                  3.11.2-6+deb12u4                    arm64        Shared Python runtime library (version 3.11)
ii  libpython3.11-dev:arm64              3.11.2-6+deb12u4                    arm64        Header files and a static library for Python (v3.11)
ii  libpython3.11-minimal:arm64          3.11.2-6+deb12u4                    arm64        Minimal subset of the Python language (version 3.11)
ii  libpython3.11-stdlib:arm64           3.11.2-6+deb12u4                    arm64        Interactive high-level object-oriented language (standard library, version 3.11)
ii  python-apt-common                    2.6.0                               all          Python interface to libapt-pkg (locales)
ii  python-babel-localedata              2.10.3-1                            all          tools for internationalizing Python applications - locale data files
ii  python-is-python3                    3.11.2-1+deb12u1                    all          symlinks /usr/bin/python to python3
ii  python3                              3.11.2-1+b1                         arm64        interactive high-level object-oriented language (default python3 version)
ii  python3-apt                          2.6.0                               arm64        Python 3 interface to libapt-pkg
ii  python3-asgiref                      3.6.0-1                             all          ASGI in-memory channel layer (Python3 version)
ii  python3-astroid                      2.14.2-1                            all          rebuild a new abstract syntax tree from Python's AST (Python3)
ii  python3-asttokens                    2.2.1-1                             all          annotate Python asbtract syntax trees with code references (Python 3)
ii  python3-attr                         22.2.0-1                            all          Attributes without boilerplate (Python 3)
ii  python3-av                           10.0.0-1+rpt4                       arm64        pythonic bindings for FFmpeg's libraries
ii  python3-babel                        2.10.3-1                            all          tools for internationalizing Python applications - Python 3.x
ii  python3-blinker                      1.5-1                               all          Fast, simple object-to-object and broadcast signaling (Python3)
ii  python3-bs4                          4.11.2-2                            all          error-tolerant HTML parser for Python 3
ii  python3-cairo:arm64                  1.20.1-5+b1                         arm64        Python3 bindings for the Cairo vector graphics library
ii  python3-certifi                      2022.9.24-1                         all          root certificates for validating SSL certs and verifying TLS hosts (python3)
ii  python3-cffi-backend:arm64           1.15.1-5+b1                         arm64        Foreign Function Interface for Python 3 calling C code - runtime
ii  python3-chardet                      5.1.0+dfsg-2                        all          Universal Character Encoding Detector (Python3)
ii  python3-charset-normalizer           3.0.1-2                             all          charset, encoding and language detection (Python 3)
ii  python3-click                        8.1.3-2                             all          Wrapper around optparse for command line utilities - Python 3.x
ii  python3-colorama                     0.4.6-2                             all          Cross-platform colored terminal text in Python - Python 3.x
ii  python3-colorzero                    2.0-2                               all          Construct, convert, and manipulate colors in a Pythonic manner.
ii  python3-cryptography                 38.0.4-3+deb12u1                    arm64        Python library exposing cryptographic recipes and primitives (Python 3)
ii  python3-cups:arm64                   2.0.1-5+b4                          arm64        Python3 bindings for CUPS
ii  python3-cupshelpers                  1.5.18-1                            all          Python utility modules around the CUPS printing system
ii  python3-dbus                         1.3.2-4+b1                          arm64        simple interprocess messaging system (Python 3 interface)
ii  python3-debconf                      1.5.82                              all          interact with debconf from Python 3
ii  python3-dev                          3.11.2-1+b1                         arm64        header files and a static library for Python (default)
ii  python3-dill                         0.3.6-1                             all          Serialize all of Python 3 (almost)
ii  python3-distlib                      0.3.6-1                             all          low-level components of python distutils2/packaging
ii  python3-distro                       1.8.0-1                             all          Linux OS platform information API
ii  python3-distutils                    3.11.2-3                            all          distutils package for Python 3.x
ii  python3-docutils                     0.19+dfsg-6                         all          text processing system for reStructuredText (implemented in Python 3)
ii  python3-dotenv                       0.21.0-1                            all          Get and set values in the .env file in local and production servers
ii  python3-filelock                     3.9.0-1                             all          platform independent file locking module
ii  python3-flask                        2.2.2-3                             all          micro web framework based on Werkzeug and Jinja2 - Python 3.x
ii  python3-gi                           3.42.2-3+b1                         arm64        Python 3 bindings for gobject-introspection libraries
ii  python3-gpiozero                     2.0.1-0+rpt1                        all          Simple API for controlling devices attached to a Pi's GPIO pins
ii  python3-html5lib                     1.1-3                               all          HTML parser/tokenizer based on the WHATWG HTML5 specification
ii  python3-idna                         3.3-1+deb12u1                       all          Python IDNA2008 (RFC 5891) handling (Python 3)
ii  python3-importlib-metadata           4.12.0-1                            all          library to access the metadata for a Python package - Python 3.x
ii  python3-isort                        5.6.4-1                             all          library for sorting Python imports (Python 3)
ii  python3-itsdangerous                 2.1.2-3                             all          Various helpers to pass trusted data to untrusted environment - Python 3.x
ii  python3-jedi                         0.18.2-1                            all          autocompletion tool for Python 3
ii  python3-jinja2                       3.1.2-1                             all          small but fast and easy to use stand-alone template engine
ii  python3-json-pointer                 2.3-2                               all          resolve JSON pointers - Python 3.x
ii  python3-jsonschema                   4.10.3-1                            all          An(other) implementation of JSON Schema (Draft 3, 4, 6, 7)
ii  python3-jwt                          2.6.0-1                             all          Python 3 implementation of JSON Web Token
ii  python3-kms++                        0~git20231115~065257+9ae90ce-1      arm64        C++ library for kernel mode setting - python3 bindings
ii  python3-lazy-object-proxy            1.9.0-1+b1                          arm64        Python 3 fast and thorough lazy object proxy
ii  python3-lgpio                        0.2.2-1~rpt1                        arm64        Control GPIO pins via gpiochip devices - python3 bindings
ii  python3-lib2to3                      3.11.2-3                            all          Interactive high-level object-oriented language (lib2to3)
ii  python3-libarchive-c                 2.9-0.1                             all          Python3 interface to libarchive
ii  python3-libcamera:arm64              0.3.2+rpt20241119-1                 arm64        complex camera support library (Python bindings)
ii  python3-libevdev                     0.5-3                               all          Python 3 wrapper for libevdev
ii  python3-libgpiod:arm64               1.6.3-1+b3                          arm64        Python bindings for libgpiod (Python 3)
ii  python3-logilab-common               1.9.8-1                             all          useful miscellaneous modules used by Logilab projects (Python3)
ii  python3-lxml:arm64                   4.9.2-1+b1                          arm64        pythonic binding for the libxml2 and libxslt libraries
ii  python3-markupsafe                   2.1.2-1+b1                          arm64        HTML/XHTML/XML string library
ii  python3-mccabe                       0.7.0-1                             all          Python code complexity checker (Python 3)
ii  python3-minimal                      3.11.2-1+b1                         arm64        minimal subset of the Python language (default python3 version)
ii  python3-more-itertools               8.10.0-2                            all          library with routines for operating on iterables, beyond itertools (Python 3)
ii  python3-mypy                         1.0.1-1                             arm64        public modules for mypy (Python 3)
ii  python3-mypy-extensions              0.4.3-4                             all          Experimental type system extensions for mypy typechecker (Python 3)
ii  python3-numpy                        1:1.24.2-1+deb12u1                  arm64        Fast array facility to the Python 3 language
ii  python3-oauthlib                     3.2.2-1                             all          generic, spec-compliant implementation of OAuth for Python3
ii  python3-olefile                      0.46-3                              all          Python module to read/write MS OLE2 files
ii  python3-opengl                       3.1.6+dfsg-3                        all          Python bindings to OpenGL (Python 3)
ii  python3-openssl                      23.0.0-1                            all          Python 3 wrapper around the OpenSSL library
ii  python3-parso                        0.8.3-1                             all          Python parser that supports error recovery - Python 3.X
ii  python3-pexpect                      4.8.0-4                             all          Python 3 module for automating interactive applications
ii  python3-pgzero                       1.2.post4+dfsg-2                    all          Zero-boilerplate games programming framework based on Pygame (Python 3)
ii  python3-picamera2                    0.3.23-1                            all          Libcamera based python library
ii  python3-pidng                        4.0.9-1+bookworm                    arm64        Create Adobe DNG RAW files using Python (Python 3)
ii  python3-piexif                       1.1.3-2                             all          pure-Python EXIF manipulation library
ii  python3-pigpio                       1.79-1+rpt1                         all          Python module which talks to the pigpio daemon (Python 3)
ii  python3-pil:arm64                    9.4.0-1.1+deb12u1                   arm64        Python Imaging Library (Python3)
ii  python3-pip                          23.0.1+dfsg-1+rpt1                  all          Python package installer
ii  python3-pip-whl                      23.0.1+dfsg-1+rpt1                  all          Python package installer (pip wheel)
ii  python3-pkg-resources                66.1.1-1                            all          Package Discovery and Resource Access using pkg_resources
ii  python3-platformdirs                 2.6.0-1                             all          determining appropriate platform-specific directories (Python 3)
ii  python3-prctl                        1.8.1-1+b2                          arm64        Python interface to the prctl() syscall (Python 3)
ii  python3-psutil                       5.9.4-1+b1                          arm64        module providing convenience functions for managing processes (Python3)
ii  python3-ptyprocess                   0.7.0-5                             all          Run a subprocess in a pseudo terminal from Python 3
ii  python3-pycryptodome                 3.11.0+dfsg1-4                      arm64        cryptographic Python library (Python 3)
ii  python3-pygame                       2.1.2+dfsg-5+b1                     arm64        SDL bindings for games development (Python 3)
ii  python3-pygments                     2.14.0+dfsg-1                       all          syntax highlighting package written in Python 3
ii  python3-pyinotify                    0.9.6-2                             all          simple Linux inotify Python bindings
ii  python3-pyqt5                        5.15.9+dfsg-1                       arm64        Python 3 bindings for Qt5
ii  python3-pyqt5.sip                    12.11.1-1                           arm64        runtime module for Python extensions using SIP
ii  python3-pyrsistent:arm64             0.18.1-1+b3                         arm64        persistent/functional/immutable data structures for Python
ii  python3-pyudev                       0.24.0-1                            all          Python3 bindings for libudev
ii  python3-renderpm:arm64               3.6.12-1+deb12u1                    arm64        python low level render interface
ii  python3-reportlab                    3.6.12-1+deb12u1                    all          ReportLab library to create PDF documents using Python3
ii  python3-reportlab-accel:arm64        3.6.12-1+deb12u1                    arm64        C coded extension accelerator for the ReportLab Toolkit
ii  python3-requests                     2.28.1+dfsg-1                       all          elegant and simple HTTP library for Python3, built for human beings
ii  python3-requests-oauthlib            1.3.0+ds-1                          all          module providing OAuthlib auth support for requests (Python 3)
ii  python3-responses                    0.18.0-1                            all          Utility library for mocking out the requests Python 3 library
ii  python3-rfc3987                      1.3.8-2                             all          Parsing and validation of URIs (RFC 3986) and IRIs (RFC 3987)
ii  python3-roman                        3.3-3                               all          module for generating/analyzing Roman numerals for Python 3
ii  python3-rpi-lgpio                    0.6-0~rpt1                          all          Compatibility shim for lgpio emulating the RPi.GPIO API
ii  python3-rtimulib                     7.2.1-6+bookworm                    arm64        Versatile C++ and Python 9-dof, 10-dof and 11-dof IMU library (Python 3)
ii  python3-send2trash                   1.8.1~b0-2                          all          Python module for sending file to trash natively
ii  python3-sense-hat                    2.6.0-1                             all          Sense HAT python library (Python 3)
ii  python3-serial                       3.5-1.1                             all          pyserial - module encapsulating access for the serial port
ii  python3-setuptools                   66.1.1-1                            all          Python3 Distutils Enhancements
ii  python3-setuptools-whl               66.1.1-1                            all          Python Distutils Enhancements (wheel package)
ii  python3-simplejpeg                   1.6.6-1                             arm64        Simple package for fast JPEG encoding and decoding
ii  python3-simplejson                   3.18.3-1                            arm64        simple, fast, extensible JSON encoder/decoder for Python 3.x
ii  python3-six                          1.16.0-4                            all          Python 2 and 3 compatibility library
ii  python3-smbc                         1.0.23-2+b4                         arm64        Python 3 bindings for the Samba client library
ii  python3-smbus:arm64                  4.3-2+b3                            arm64        Python 3 bindings for Linux SMBus access through i2c-dev
ii  python3-smbus2                       0.4.2-1                             arm64        another pure Python implementation of the python-smbus package
ii  python3-soupsieve                    2.3.2-1                             all          modern CSS selector implementation for BeautifulSoup (Python 3)
ii  python3-spidev                       20200602~200721-1+bookworm          arm64        Bindings for Linux SPI access through spidev (Python 3)
ii  python3-tk:arm64                     3.11.2-3                            arm64        Tkinter - Writing Tk applications with Python 3.x
ii  python3-toml                         0.10.2-1                            all          library for Tom's Obvious, Minimal Language - Python 3.x
ii  python3-tomlkit                      0.11.7-1                            all          style-preserving TOML library for Python
ii  python3-tqdm                         4.64.1-1                            all          fast, extensible progress bar for Python 3 and CLI tool
ii  python3-twython                      3.8.2+dfsg-2                        all          Pure Python3 wrapper for the Twitter API
ii  python3-typeshed                     0.0~git20221107.4f381af-1           all          collection of library stubs for Python, with static types
ii  python3-typing-extensions            4.4.0-1                             all          Backported and Experimental Type Hints for Python
ii  python3-tz                           2022.7.1-4                          all          Python3 version of the Olson timezone database
ii  python3-uritemplate                  4.1.1-2                             all          implementation of RFC6570 - Python 3.x
ii  python3-urllib3                      1.26.12-1                           all          HTTP library with thread-safe connection pooling for Python3
ii  python3-v4l2                         0.3.5-1                             all          Python bindings for the v4l2 userspace api
ii  python3-venv                         3.11.2-1+b1                         arm64        venv module for python3 (default python3 version)
ii  python3-virtualenv                   20.17.1+ds-1                        all          Python virtual environment creator
ii  python3-webcolors                    1.11.1-1                            all          python3 library of color names and value formats
ii  python3-webencodings                 0.5.1-5                             all          Python implementation of the WHATWG Encoding standard
ii  python3-werkzeug                     2.2.2-3                             all          collection of utilities for WSGI applications (Python 3.x)
ii  python3-wheel                        0.38.4-2                            all          built-package format for Python
ii  python3-wheel-whl                    0.38.4-2                            all          built-package format for Python (wheel wheel)
ii  python3-wrapt                        1.14.1-2+b2                         arm64        decorators, wrappers and monkey patching. - Python 3.x
ii  python3-yaml                         6.0-3+b2                            arm64        YAML parser and emitter for Python3
ii  python3-zipp                         1.0.0-6                             all          pathlib-compatible Zipfile object wrapper - Python 3.x
ii  python3.11                           3.11.2-6+deb12u4                    arm64        Interactive high-level object-oriented language (version 3.11)
ii  python3.11-dev                       3.11.2-6+deb12u4                    arm64        Header files and a static library for Python (v3.11)
ii  python3.11-minimal                   3.11.2-6+deb12u4                    arm64        Minimal subset of the Python language (version 3.11)
ii  python3.11-venv                      3.11.2-6+deb12u4                    arm64        Interactive high-level object-oriented language (pyvenv binary, version 3.11)

Detected indi-allsky virtualenv
virtualenv python: Python 3.11.2
virtualenv PATH: /home/allsky/indi-allsky/virtualenv/indi-allsky/bin:/usr/local/bin:/usr/bin:/bin
flask command: /home/allsky/indi-allsky/virtualenv/indi-allsky/bin/flask

virtualenv python modules
Adafruit-Blinka==8.50.0
adafruit-circuitpython-ads1x15==2.4.1
adafruit-circuitpython-ahtx0==1.0.23
adafruit-circuitpython-bh1750==1.1.12
adafruit-circuitpython-bme280==2.6.26
adafruit-circuitpython-bme680==3.7.11
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-dht==4.0.6
adafruit-circuitpython-ltr390==1.1.17
adafruit-circuitpython-mlx90614==1.2.19
adafruit-circuitpython-mlx90640==1.3.3
adafruit-circuitpython-register==1.10.1
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-sht31d==2.3.25
adafruit-circuitpython-sht4x==1.0.21
adafruit-circuitpython-si1145==1.2.1
adafruit-circuitpython-si7021==4.1.12
adafruit-circuitpython-tsl2561==3.3.19
adafruit-circuitpython-tsl2591==1.3.13
adafruit-circuitpython-typing==1.11.1
adafruit-circuitpython-veml7700==2.0.2
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
alembic==1.14.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
astroalign==2.6.1
astropy==7.0.0
astropy-iers-data==0.2024.11.25.0.34.48
astropy_healpix==1.0.3
astroscrappy==1.2.0
bcrypt==4.2.1
binho-host-adapter==0.1.6
blinker==1.9.0
Bottleneck==1.4.2
ccdproc==2.4.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
circuitpython-bmp180==0.2.0
click==8.1.7
cloudpickle==3.1.0
cryptography==44.0.0
Cython==3.0.11
dask==2024.11.2
dbus-python==1.3.2
ephem==4.1.6
fasteners==0.19
fish2pano==0.4.1
Flask==3.1.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fsspec==2024.10.0
gpiod==2.2.2
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
inotify==0.2.10
is-safe-url==1.0
itsdangerous==2.2.0
Jinja2==3.1.4
jplephem==2.22
lazy_loader==0.4
locket==1.0.0
lxml==5.3.0
Mako==1.3.6
MarkupSafe==3.0.2
networkx==3.4.2
nose==1.3.7
numcodecs==0.14.1
numpy==1.26.4
opencv-python-headless==4.10.0.84
packaging==24.2
paho-mqtt==2.1.0
paramiko==3.5.0
partd==1.4.2
passlib==1.7.4
piexif==1.1.3
pillow==11.0.0
prettytable==3.12.0
psutil==6.1.0
pycparser==2.22
pycurl==7.45.3
pyerfa==2.0.1.5
pyftdi==0.56.0
pygifsicle==1.1.0
PyNaCl==1.5.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.2
pyusb==1.2.1
PyYAML==6.0.2
reproject==0.14.1
requests==2.32.3
requests-toolbelt==1.0.0
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
scikit-image==0.24.0
scipy==1.14.1
semantic-version==2.10.0
sep-pjw==1.3.7
setuptools-rust==1.10.2
sgp4==2.23
shapely==2.0.6
six==1.16.0
skyfield==1.49
SQLAlchemy==2.0.36
sysv_ipc==1.1.0
tifffile==2024.9.20
toolz==1.0.0
typing_extensions==4.12.2
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.1.3
WTForms==3.2.1
zarr==2.18.3
zipp==3.21.0
```

indi-allsky config (passwords redacted)
Traceback (most recent call last):
  File "/home/allsky/indi-allsky/config.py", line 6, in <module>
    from indi_allsky.config import IndiAllSkyConfigUtil
  File "/home/allsky/indi-allsky/indi_allsky/config.py", line 29, in <module>
    app = create_app()
          ^^^^^^^^^^^^
  File "/home/allsky/indi-allsky/indi_allsky/flask/__init__.py", line 90, in create_app
    app.config.from_file(flask_config, load=json.load)
  File "/home/allsky/indi-allsky/virtualenv/indi-allsky/lib/python3.11/site-packages/flask/config.py", line 293, in from_file
    with open(filename, "r" if text else "rb") as f:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
FileNotFoundError: [Errno 2] Unable to load configuration file (No such file or directory): '/etc/indi-allsky/flask.json'


```
###############
###  ERROR  ###
###############

The script exited abnormally, please try to run again...




(The error at the end of the support info was expected since the setup has not fully completed)

This is a really weird error.  I tested locally using several iterations and I am not having a problem.  Do you have the ability to test with another SDcard?

i found a spare 32gb sd card just now,will try it now

I was using a sandisk 128gb sd card 

![error in setup](https://github.com/user-attachments/assets/f768ce65-ac46-4675-812a-b9e741e78769)

This error appeared near the end of ./setup.sh 

I think this is an issue with the python wheel mirror or maybe issues with your internet.  I would suggest rebooting your internet router.  If that does not help, you may try editing the `/etc/resolv.conf` file of your Pi and setting 8.8.8.8 as your DNS server.

Hi Aaron
I tried the above but had no joy.
Googled the problem and had a look at https://stackoverflow.com/questions/21277806/fatal-early-eof-fatal-index-pack-failed.
Tried this, git config --global core.compression 0
Did not work.
Then tried this,git config --global core.compression 9
It solved the issue

![solved error](https://github.com/user-attachments/assets/6c55fabb-303f-450a-a3da-33d651fc9b66)

![success](https://github.com/user-attachments/assets/1a8a108f-b89f-4c21-972d-990245791fde)

Aaron ,you were right about the internet issue .
It must have been timing out before file downloaded for what ever reason.
I wish i had contacted you earlier today as it would have saved me a lot of time.
I am now going to connect the BME280 sensor again and check the charts.
Hopefully put it outside on the tripod and test tomorrow evening.
I think this software is brilliant and can i say thank you very much for helping me resolve this irritating issue.


Fantastic!  I have seen similar problems with my home internet, so I completely understand what you are going through.

![BME280](https://github.com/user-attachments/assets/ab6fdad5-b439-4fbc-9789-b71c1e1fb98e)

![i2c check](https://github.com/user-attachments/assets/d639f870-ba9f-4f9f-a96e-9e1ad8f83a39)

BME280 up and running 
Will swap over the 32gb sd card for the 128gb card tomorrow.
Then put all the hardware into the enclosure again.

![20241115_215353](https://github.com/user-attachments/assets/4a2027bf-78c4-4969-af1c-6a58b90cb66b)


![20241130_220753](https://github.com/user-attachments/assets/d786dc55-5bb1-4931-a599-a107a38ba73f)
![20241130_220734](https://github.com/user-attachments/assets/40cfc766-556f-4e8f-a777-8d76029f7e2e)
![20241130_220726](https://github.com/user-attachments/assets/82e8c5d6-d914-4ec2-9d2f-7d56215c8528)


Hi Aaron
Would it be possible to have on the web page the sunrise sunset times bottom left of page.
sunrise 0823 sunset 1531 
The above is an example for the 1st of December 2024.
If too much coding involved ,no worries as it was just a suggestion.


Excellent,thank you very much. 

Merged #1690 which has the sunrise, sunset, moon-rise, and moon-set variables.

The wikis are updated with the new variables:
https://github.com/aaronwmorris/indi-allsky/wiki/Web-Status-Configuration
https://github.com/aaronwmorris/indi-allsky/wiki/Image-Labels

![first outdoor test](https://github.com/user-attachments/assets/9a641a0d-e230-4cc2-ab8b-cd2fd53d60e1)
Hi Aaron
Thank you very much for the help you have given me.
I was gob smacked when i seen an email from you,to say you had implemented the request for sunrise/sunset times.
I have now assembled the hardware into the enclosure and now outside ready to test overnight.
I realise that there is still some tweeking of the settings to be done .
Meantime i will find my way round the software and make adjustments when required.
Looking forward to seeing results from overnight captures.
Thank you once again Aaron.

I have been thinking about adding these variables for some time, and it is an obvious improvement without too much work.  I just have to be careful with the fact that at certain latitudes, the sun does not rise/set.  That is why the times are a string.  A blank value is returned for those situations.

![sunrise sunset](https://github.com/user-attachments/assets/a224cfc1-f173-4580-92c9-10f75cfb9581)

Hi Aaron
Wondering if this is correct for sunrise,sunset ??
Would value your input.

Given the Latitude 57.2 and Longitude -2.1 and the UTC timezone, the online calculators agree with the sunrise and sunset times within a few minutes.  I have the atmospheric refraction calculations disabled which is why the times differ by a few minutes from other sources.